
name: HiTIDE Repos Update
# Controls when the workflow will run
on:
  schedule:
    - cron: '20 10 * * *'  # Set the cron schedule for 1 am PST
  workflow_dispatch:

jobs:
  build:
    name: Refresh HiTIDE Repos Google Sheet
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    steps:

      #########################################################################
      # Environment Setup
      #########################################################################
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - name: Install Poetry
        uses: abatilo/actions-poetry@v4
        with:
          poetry-version: 2.3.2

      #########################################################################
      # Install & Run Pylint & Flake
      #########################################################################
      - name: Poetry Steps
        run: |
          poetry install

      #########################################################################
      # Setup Token for GSpread
      #########################################################################
      - name: Setup Token
        env:
          GOOGLE_TOKEN: ${{ secrets.GOOGLE_TOKEN }}
        run: |
          mkdir -p ~/.config/gspread
          echo "$GOOGLE_TOKEN" > ~/.config/gspread/service_account.json

      #########################################################################
      # Start the Repo Status Updater
      #########################################################################
      - name: Update HiTIDE Repos Google Sheet
        working-directory: hitide_repos
        env:
          SPREADSHEET_ID: ${{ secrets.HITIDE_AWS_SHEET_ID }}
          GITHUB_TOKEN: ${{ secrets.GH_READ_TOKEN }}
        run: |
          poetry run python hitide_repos.py
